//------------------------------------------------------
// FRONTENDLER
//------------------------------------------------------
@import "frontendler";

//------------------------------------------------------
// SETTINGS
//------------------------------------------------------
@import "settings";

//------------------------------------------------------
// RESET
//------------------------------------------------------
@include reset;

//------------------------------------------------------
// ANIMATIONS
//------------------------------------------------------
@include animations;

//------------------------------------------------------
// COMPONENTS
//------------------------------------------------------
@import "components/not-found";


//------------------------------------------------------
// YOUR STYLES
//------------------------------------------------------
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #152d44;
    color: #8deffc;
    min-height: 100vh;
    text-align: center;
}
